{
    "env": {
        "build": {
            "presets": [
              "env",
              "react",
              "stage-0"
            ],
            "plugins": [
              "add-module-exports",
              "system-import-transformer",
              "transform-react-constant-elements",
              ["transform-react-remove-prop-types", {"mode": "wrap"}]
            ]
        },
        "es": {
            "presets": [
              ["env", {"modules": false}],
              "react",
              "stage-0"
            ],
            "plugins": [
              "transform-react-constant-elements",
              ["transform-react-remove-prop-types", {"mode": "wrap"}]
            ]
        }
    }
}
