language: node_js
node_js:
  - 8
env:
  - TEST_DIR=./
  - TEST_DIR=packages/organism-react-ajax
  - TEST_DIR=packages/organism-react-animate
  - TEST_DIR=packages/lib/to-percent-js
  - TEST_DIR=packages/lib/getoffset
  - TEST_DIR=packages/lib/array.merge
  - TEST_DIR=packages/lib/get-object-value
  - TEST_DIR=packages/lib/get-cookie
script: cd $TEST_DIR; yarn --ignore-engines; mocha --version; npm t
